<div class="card">
  <div class="card-header">
    <h3 class="card-title">{title}</h3>
    <div class="card-actions">
      <a href="/edit/{id}" class="card-edit" title="Editar">
        <img src="img/edit.png" alt="Editar"/>
      </a>
      <a href="/fav/{id}" class="card-fav" title="Favoritar">
        <img src="img/{favorite_icon}" alt="Favoritar"/>
      </a>
      <a href="/delete/{id}" class="card-delete" title="Apagar">
        <img src="img/lixeira.png" alt="Apagar"/>
      </a>
    </div>
  </div>
  <div class="card-content">
    <p>{details}</p>
  </div>
</div>